.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    padding: 7px 440px;
}

.text {
    text-align: center;
    color: white;
    padding-bottom: 3%;
    text-decoration: underline;
}

.form {
    height: auto;
    width: 400px;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    margin-top: 2%;
}

.innerdiv {
    padding: 5%;
}

.form-control {
    width: 100%;
}